<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.mohagee.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.mohagee.email.model.vo.Email" alias="Email"/>
		<typeAlias type="com.kh.mohagee.showBoard.model.vo.ShowBoard" alias="ShowBoard" />
 		<typeAlias type="com.kh.mohagee.showBoard.model.vo.ShowAttachment" alias="ShowAttachment" />
	</typeAliases>

</configuration>










