<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">

	<select id="selectChatRoomList" resultType="chatRoom">
		SELECT * FROM
		CHATROOM WHERE USERNO = #{userNo}
	</select>

	<select id="selectChatRoomOne" resultType="chat">
		SELECT * FROM CHAT
		WHERE CROOMNO = #{croomNo} ORDER BY CHATSENDTIME DESC
	</select>

	<select id="selectRecentChat" resultType="chat" parameterType="_int">
		SELECT * FROM (
		SELECT ROW_NUMBER() 
		OVER( PARTITION BY CR.CROOMNO
		ORDER BY CHATSENDTIME DESC) RNUM,
		C.CHATNO, C.CHATSENDNO, C.CHATCONTENT, C.CHATSENDTIME,
		CR.CROOMNO, CR.CROOMTITLE
		FROM CHAT C, CHATROOM CR
		WHERE
		CR.CROOMNO = C.CROOMNO (+)
		AND CR.USERNO = #{userNo}
		)
		WHERE RNUM = 1
		ORDER BY
		CASE WHEN CHATSENDTIME IS NULL THEN 1
		ELSE 0 
		END,
		CHATSENDTIME DESC
	</select>

	<select id="selectCroomUser" parameterType="_int" resultType="int">
		SELECT USERNO FROM CHATROOM WHERE CROOMNO = #{croomNo}
	</select>

	<select id="selectChatList" parameterType="_int" resultType="chat">
		SELECT C.*, NICKNAME SENDERNAME FROM CHAT C, MEMBER M
		WHERE CROOMNO=#{croomNo} AND M.USERNO = C.CHATSENDNO 
		ORDER BY CHATSENDTIME
	</select>

	<select id="selectCroom" parameterType="chatRoom" resultType="chatRoom">
		SELECT * FROM CHATROOM 
		WHERE CROOMNO = #{croomNo} AND USERNO = #{userNo}
	</select>

	<select id="selectChatRoomSeq" resultType="_int">
		SELECT
		SEQ_CRNO.NEXTVAL FROM DUAL
	</select>

	<select id="selectChatUser" parameterType="_int" resultType="Member">
		SELECT E.*
		FROM CHATROOM CR,
		MEMBER M
		WHERE CR.USERNO = M.USERNO
		and CR.CROOMNO = #{croomNo}
	</select>

	<insert id="insertChat">
		INSERT INTO CHAT
		(CHATNO,CROOMNO,CHATSENDNO,CHATCONTENT,CHATSENDTIME) VALUES
		(SEQ_CHAT.NEXTVAL,#{croomNo},#{chatsendNo}
		 ,#{chatContent},#{chatsendTime})
	</insert>

	<insert id="insertChatRoom">
		INSERT INTO CHATROOM
		(CROOMINDEX,CROOMNO,USERNO,CROOMTITLE) VALUES
		(SEQ_CRINDEX.NEXTVAL,#{croomNo},#{userNo},#{croomTitle})
	</insert>

	<delete id="deleteChatRoom" parameterType="_int">
		DELETE FROM CHATROOM WHERE CROOMINDEX = #{croomIndex}
	</delete>

	<update id="updateCroom">
		UPDATE CHATROOM SET CROOMTITLE = #{croomTitle} WHERE CROOMINDEX = #{croomIndex}
	</update>

</mapper>



