<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShowBoard-mapper">

   <select id="selectList" resultType="ShowBoard">
      SELECT * FROM BOARD
   </select>
   
   <insert id="insertShowBoard" parameterType="ShowBoard">
      INSERT INTO BOARD 
      VALUES(SEQ_BNO.NEXTVAL, 
         #{userNo},
         #{bWriter}, 
         #{bTitle},
         #{bTag},
         #{bContent},
              #{cNo},
             #{bCount},
             DEFAULT, DEFAULT)
   </insert>
   
   <insert id="insertShowAttachment" parameterType="ShowAttachment">
      <selectKey keyProperty="bNo" resultType="int" order="BEFORE">
         SELECT SEQ_BNO.CURRVAL FROM DUAL
      </selectKey>
      INSERT INTO B_ATTACHMENT
      VALUES (SEQ_BFILENO.NEXTVAL, #{bNo}, 
            #{bFileName}, 
            #{bFilePath},
            DEFAULT, DEFAULT, DEFAULT)
   </insert>
   
   <select id="selectShowBoard" parameterType="_int" resultType="ShowBoard">
      SELECT * FROM BOARD WHERE BNO = #{bNo}
   </select>
   
   <select id="selectShowAttachment" parameterType="int" resultType="ShowAttachment">
      SELECT * FROM B_ATTACHMENT WHERE BNO = #{bNo}
   </select>
   
   <update id="updateShowBoard" parameterType="ShowBoard">
      UPDATE BOARD
      SET BTITLE = #{bTitle},
          BCONTENT = #{bContent}
      WHERE BNO = #{bNo}
   </update>
   
   <insert id="updateShowAttachment" parameterType="ShowAttachment">
      INSERT INTO B_ATTACHMENT
      VALUES (SEQ_BFILENO.NEXTVAL, #{bNo}, 
            #{bFileName}, 
            #{bFilePath},
            DEFAULT, DEFAULT, DEFAULT)
   </insert>
   
   <update id="deleteShowBoard" parameterType="int">
      UPDATE FROM BOARD
      SET BSTATUS=${bStatus}
   </update>
   
   <update id="deleteShowAttachment" parameterType="int">
      UPDATE FROM B_ATTACHMENT
      SET BFILESTATUS=${bFileStatus}
   </update>
</mapper>









